# Import Data From dataset

## Configuring the package import

In [14]:
import sys
sys.path.append("..")  # Add parent directory to path

In [15]:

from datasets import load_dataset, validate_dataset, show_datasets  # Now you can import the package


ds = load_dataset("./../data/categorized_v4_numeric.csv")
ds = validate_dataset(ds)

ds.head()

,Q1A,Q1E,Q2A,Q2E,Q3A,Q3E,Q4A,Q4E,Q5A,Q5E,...,gender,age,religion,married,familysize,major_category,depression_score,anxiety_score,stress_score,das_score
0,4,3890,4,2122,2,1944,4,2044,4,2153,...,2,16,12,1,2,0,41,48,54,86
1,4,8118,1,2890,2,4777,3,3090,4,5078,...,2,16,7,1,4,0,38,31,41,66
2,3,5784,1,4373,4,3242,1,6470,4,3927,...,2,17,4,1,3,0,53,26,31,66
3,2,5081,3,6837,2,5521,1,4556,3,3269,...,2,13,4,1,5,6,30,31,30,55
4,2,3215,2,7731,3,4156,4,2802,4,5628,...,2,19,10,1,4,8,46,54,43,86

## Removing unnecessary columns

In [18]:
ds.drop(columns=["country"])
ds.head()

,Q1A,Q1E,Q2A,Q2E,Q3A,Q3E,Q4A,Q4E,Q5A,Q5E,...,gender,age,religion,married,familysize,major_category,depression_score,anxiety_score,stress_score,das_score
0,4,3890,4,2122,2,1944,4,2044,4,2153,...,2,16,12,1,2,0,41,48,54,86
1,4,8118,1,2890,2,4777,3,3090,4,5078,...,2,16,7,1,4,0,38,31,41,66
2,3,5784,1,4373,4,3242,1,6470,4,3927,...,2,17,4,1,3,0,53,26,31,66
3,2,5081,3,6837,2,5521,1,4556,3,3269,...,2,13,4,1,5,6,30,31,30,55
4,2,3215,2,7731,3,4156,4,2802,4,5628,...,2,19,10,1,4,8,46,54,43,86

# Training Model

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.multioutput import MultiOutputClassifier
from sklearn.metrics import accuracy_score, classification_report

# Define features (X) and multiple targets (y)
X = ds.drop(
    columns=[
        "depression_score",
        "anxiety_score",
        "stress_score",
        "das_score",
        "country",
    ]
)
y = ds[
    ["depression_score", "anxiety_score", "stress_score", "das_score"]
]  # All target columns

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# Initialize the MultiOutputClassifier with RandomForestClassifier
# You can adjust n_estimators and other parameters as needed
multi_target_model = MultiOutputClassifier(
    RandomForestClassifier(n_estimators=100, random_state=42)
)

# Train the model
multi_target_model.fit(X_train, y_train)

# Make predictions
y_pred = multi_target_model.predict(X_test)

# Evaluate the model - need to evaluate each target separately
target_names = ["depression_score", "anxiety_score", "stress_score", "das_score"]

for i, target in enumerate(target_names):
    print(f"\nResults for {target}:")
    print(f"Accuracy: {accuracy_score(y_test.iloc[:, i], y_pred[:, i])}")
    print(classification_report(y_test.iloc[:, i], y_pred[:, i]))

Results for depression_score:
Accuracy: 0.2578252671275927
              precision    recall  f1-score   support

          14       0.89      1.00      0.94       182
          15       0.62      0.67      0.64       172
          16       0.35      0.54      0.42       177
          17       0.33      0.30      0.32       183
          18       0.26      0.29      0.28       153
          19       0.19      0.19      0.19       174
          20       0.23      0.20      0.21       171
          21       0.18      0.21      0.19       178
          22       0.20      0.19      0.20       197
          23       0.16      0.18      0.17       186
          24       0.17      0.19      0.18       174
          25       0.19      0.14      0.16       188
          26       0.17      0.19      0.18       170
          27       0.16      0.12      0.14       208
          28       0.23      0.22      0.22       228
          29       0.16      0.17      0.16       199
          30       0.17      0.23      0.20       188
          31       0.13      0.16      0.14       202
          32       0.22      0.19      0.20       215
          33       0.15      0.13      0.14       212
          34       0.15      0.14      0.14       195
          35       0.15      0.14      0.15       171
          36       0.11      0.09      0.10       181
          37       0.14      0.13      0.13       196
          38       0.14      0.10      0.11       194
          39       0.12      0.10      0.11       200
          40       0.17      0.20      0.18       182
          41       0.14      0.13      0.14       180
          42       0.17      0.16      0.16       173
          43       0.14      0.16      0.15       164
          44       0.14      0.13      0.13       191
          45       0.12      0.14      0.13       159
          46       0.22      0.16      0.18       185
          47       0.20      0.21      0.20       164
          48       0.25      0.18      0.21       196
          49       0.15      0.14      0.14       180
          50       0.20      0.16      0.18       170
          51       0.23      0.23      0.23       174
          52       0.33      0.26      0.29       181
          53       0.26      0.36      0.30       152
          54       0.33      0.35      0.34       148
          55       0.54      0.64      0.59       166
          56       0.87      1.00      0.93       296

    accuracy                           0.26      7955
   macro avg       0.24      0.25      0.24      7955
weighted avg       0.25      0.26      0.25      7955


Results for anxiety_score:
Accuracy: 0.2032683846637335
              precision    recall  f1-score   support

          14       0.82      1.00      0.90       182
          15       0.55      0.62      0.58       192
          16       0.36      0.42      0.39       221
          17       0.30      0.37      0.33       253
          18       0.26      0.28      0.27       266
          19       0.19      0.18      0.18       248
          20       0.26      0.26      0.26       313
          21       0.20      0.21      0.20       277
          22       0.18      0.20      0.19       260
          23       0.17      0.17      0.17       265
          24       0.15      0.19      0.16       270
          25       0.13      0.13      0.13       279
          26       0.16      0.15      0.15       291
          27       0.15      0.20      0.17       258
          28       0.16      0.16      0.16       266
          29       0.14      0.15      0.14       238
          30       0.13      0.12      0.13       272
          31       0.13      0.09      0.10       272
          32       0.15      0.12      0.13       243
          33       0.13      0.12      0.12       216
          34       0.12      0.10      0.11       242
          35       0.17      0.18      0.17       205
          36       0.12      0.24      0.16       203
          37       0.13      0.09      0.10       207
          38       0.12      0.11      0.11       213
          39       0.11      0.11      0.11       189
          40       0.13      0.08      0.10       178
          41       0.11      0.08      0.09       170
          42       0.06      0.07      0.06       131
          43       0.07      0.05      0.06       149
          44       0.16      0.14      0.15       130
          45       0.10      0.07      0.08       130
          46       0.22      0.27      0.24       110
          47       0.11      0.10      0.10        94
          48       0.16      0.11      0.13        96
          49       0.09      0.06      0.07        80
          50       0.26      0.26      0.26        72
          51       0.27      0.15      0.19        67
          52       0.23      0.14      0.17        50
          53       0.28      0.42      0.34        43
          54       0.56      0.21      0.31        43
          55       0.43      0.19      0.27        31
          56       0.54      0.97      0.70        40

    accuracy                           0.20      7955
   macro avg       0.22      0.22      0.21      7955
weighted avg       0.20      0.20      0.20      7955


Results for stress_score:
Accuracy: 0.20188560653676932
              precision    recall  f1-score   support

          14       0.78      0.94      0.86        66
          15       0.45      0.52      0.48        71
          16       0.31      0.27      0.29        84
          17       0.23      0.25      0.24       102
          18       0.27      0.25      0.26       127
          19       0.22      0.24      0.23       135
          20       0.20      0.17      0.18       161
          21       0.20      0.22      0.21       158
          22       0.15      0.13      0.14       159
          23       0.19      0.22      0.21       189
          24       0.23      0.27      0.24       200
          25       0.16      0.18      0.17       209
          26       0.20      0.20      0.20       232
          27       0.19      0.13      0.16       220
          28       0.19      0.30      0.23       218
          29       0.13      0.13      0.13       242
          30       0.12      0.11      0.12       251
          31       0.15      0.14      0.14       243
          32       0.18      0.22      0.20       253
          33       0.12      0.11      0.11       227
          34       0.15      0.13      0.14       228
          35       0.19      0.20      0.20       254
          36       0.18      0.22      0.19       253
          37       0.13      0.11      0.12       243
          38       0.16      0.16      0.16       258
          39       0.15      0.15      0.15       248
          40       0.12      0.15      0.13       196
          41       0.15      0.12      0.13       240
          42       0.15      0.16      0.15       244
          43       0.19      0.19      0.19       248
          44       0.14      0.11      0.13       231
          45       0.19      0.19      0.19       199
          46       0.13      0.13      0.13       179
          47       0.18      0.16      0.17       192
          48       0.21      0.19      0.20       172
          49       0.22      0.16      0.19       162
          50       0.17      0.20      0.19       139
          51       0.26      0.26      0.26       164
          52       0.26      0.23      0.24       153
          53       0.33      0.31      0.32       134
          54       0.29      0.29      0.29        86
          55       0.51      0.36      0.42        73
          56       0.79      0.98      0.87       112

    accuracy                           0.20      7955
   macro avg       0.23      0.24      0.23      7955
weighted avg       0.20      0.20      0.20      7955


Results for das_score:
Accuracy: 0.12369578881206789
              precision    recall  f1-score   support

          25       0.44      0.48      0.46        23
          26       0.33      0.11      0.17        18
          27       0.44      0.56      0.50        55
          28       0.28      0.39      0.32        57
          29       0.14      0.02      0.04        41
          30       0.26      0.32      0.29        98
          31       0.17      0.25      0.20        92
          32       0.00      0.00      0.00        47
          33       0.17      0.21      0.19       108
          34       0.21      0.28      0.24       132
          35       0.00      0.00      0.00        57
          36       0.12      0.20      0.15       135
          37       0.19      0.23      0.21       132
          38       0.00      0.00      0.00        61
          39       0.11      0.16      0.13       132
          40       0.13      0.12      0.13       149
          41       0.00      0.00      0.00        53
          42       0.15      0.20      0.17       138
          43       0.17      0.19      0.18       139
          44       0.00      0.00      0.00        63
          45       0.14      0.14      0.14       155
          46       0.09      0.08      0.09       159
          47       0.00      0.00      0.00        76
          48       0.09      0.12      0.10       163
          49       0.10      0.17      0.13       173
          50       0.08      0.11      0.09       159
          51       0.00      0.00      0.00        83
          52       0.06      0.06      0.06       179
          53       0.08      0.12      0.09       173
          54       0.00      0.00      0.00        84
          55       0.12      0.15      0.13       167
          56       0.12      0.15      0.13       175
          57       0.00      0.00      0.00        97
          58       0.10      0.09      0.10       173
          59       0.11      0.14      0.12       191
          60       0.00      0.00      0.00        81
          61       0.10      0.13      0.11       175
          62       0.11      0.12      0.11       199
          63       0.07      0.02      0.04        84
          64       0.09      0.13      0.11       173
          65       0.05      0.07      0.06       163
          66       0.25      0.02      0.04        93
          67       0.09      0.11      0.10       179
          68       0.10      0.11      0.11       172
          69       0.00      0.00      0.00        82
          70       0.10      0.11      0.11       174
          71       0.09      0.09      0.09       162
          72       0.08      0.01      0.02        69
          73       0.08      0.07      0.08       174
          74       0.09      0.14      0.11       150
          75       0.10      0.13      0.11       147
          76       0.00      0.00      0.00        71
          77       0.11      0.13      0.12       130
          78       0.07      0.07      0.07       124
          79       0.00      0.00      0.00        65
          80       0.14      0.16      0.15       140
          81       0.17      0.14      0.15       115
          82       0.00      0.00      0.00        47
          83       0.11      0.16      0.13       110
          84       0.14      0.15      0.14       109
          85       0.00      0.00      0.00        47
          86       0.13      0.16      0.15       104
          87       0.12      0.09      0.10        85
          88       0.00      0.00      0.00        47
          89       0.08      0.09      0.08        79
          90       0.10      0.07      0.08        90
          91       1.00      0.02      0.05        43
          92       0.11      0.15      0.13        53
          93       0.20      0.15      0.17        61
          94       0.00      0.00      0.00        27
          95       0.20      0.19      0.19        48
          96       0.15      0.16      0.15        43
          97       0.00      0.00      0.00        13
          98       0.27      0.27      0.27        33
          99       0.17      0.20      0.19        20
         100       0.58      0.89      0.70        37

    accuracy                           0.12      7955
   macro avg       0.13      0.13      0.12      7955
weighted avg       0.11      0.12      0.11      7955

## Saving the model

```python
import joblib

# Save the trained model to a file
joblib.dump(multi_target_model, 'multi_target_model.pkl')

print("Model saved as 'multi_target_model.pkl'")
```